<mat-card class="item-card" routerLink="product-description-page/{{product.id}}">
    
    <img  id="picture" mat-card-image src="assets/images/{{product.image}}.jpg">
    <mat-card-content>
        <h3 id="title">{{product.name}}</h3>

        <div class="firstRow">
            <ng-container *ngFor="let _ of [].constructor(product.rating); let i = index">
                <i class="star" [ngClass]="{
                  'red-star': product.rating === 1 || product.rating === 2,
                  'orange-star': product.rating === 3,
                  'green-star': product.rating === 4 || product.rating === 5
                }"></i>
              </ng-container>
        <span>
            <!-- <button>
                <mat-icon >add_shopping_cart</mat-icon>
            </button>     -->
        </span>

        </div>
        
        <p>{{product.price |currency:"&#8377;"}}</p>
        
        

    </mat-card-content>
</mat-card>

